USE [master]
GO
/****** Object:  Database [PROJECT]    Script Date: 12/27/2020 9:08:42 PM ******/
CREATE DATABASE [PROJECT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PROJECT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PROJECT.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PROJECT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PROJECT_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PROJECT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PROJECT]
GO
/****** Object:  Table [dbo].[CHITIEU]    Script Date: 12/27/2020 9:08:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIEU](
	[T_DIEN] [money] NULL,
	[T_NUOC] [money] NULL,
	[T_LUONGNV] [money] NULL,
	[T_BAOTRI] [money] NULL,
	[T_KHAC] [money] NULL,
	[TONGCHI] [money] NULL,
	[THANG] [int] NOT NULL,
	[NAM] [int] NOT NULL,
 CONSTRAINT [ChiTieu_pk] PRIMARY KEY CLUSTERED 
(
	[THANG] ASC,
	[NAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANGKI]    Script Date: 12/27/2020 9:08:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DANGKI](
	[ID] [varchar](5) NOT NULL,
	[MAKH] [varchar](5) NULL,
	[MAPHONG] [varchar](5) NULL,
	[NGNHANPHONG] [smalldatetime] NULL CONSTRAINT [df_ngay_nhan_phong]  DEFAULT (getdate()),
	[NGTRAPHONG] [smalldatetime] NULL,
	[TRANGTHAIDON] [varchar](20) NULL,
	[TGDOIPHONG] [int] NULL,
	[GHICHU] [varchar](50) NULL,
	[MAHD] [varchar](5) NULL,
 CONSTRAINT [pk_DK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/27/2020 9:08:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[ID] [varchar](5) NOT NULL,
	[MAKH] [varchar](5) NULL,
	[MANV] [varchar](5) NULL,
	[CHUATHANHTOAN] [money] NULL CONSTRAINT [df_gt]  DEFAULT ('0'),
	[DATHANHTOAN] [money] NULL CONSTRAINT [df_gt2]  DEFAULT ('0'),
	[NGHD] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/27/2020 9:08:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[ID] [varchar](5) NOT NULL,
	[HOTEN] [nvarchar](40) NULL,
	[SODT] [varchar](20) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](200) NULL,
	[CMND] [varchar](20) NULL,
 CONSTRAINT [PK_khachhang] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 12/27/2020 9:08:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[ID] [varchar](5) NOT NULL,
	[TENLP] [nvarchar](20) NULL,
	[GIA] [money] NULL,
 CONSTRAINT [PK_LOAIPHONG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [gt_lp] UNIQUE NONCLUSTERED 
(
	[TENLP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MARKER]    Script Date: 12/27/2020 9:08:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MARKER](
	[MARK_TABLE] [varchar](10) NULL,
	[NUMBER] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/27/2020 9:08:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[ID] [varchar](5) NOT NULL,
	[HOTEN] [nvarchar](40) NULL,
	[CMND] [varchar](20) NULL,
	[SDT] [varchar](20) NULL,
	[GIOITINH] [nvarchar](20) NULL,
	[NGBD] [smalldatetime] NULL,
	[TGHOPDONG] [int] NULL,
	[LUONG] [int] NULL,
	[DIACHI] [nvarchar](2000) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [unique_cmnd] UNIQUE NONCLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 12/27/2020 9:08:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHONG](
	[ID] [varchar](5) NOT NULL,
	[LOAI] [nvarchar](20) NULL,
	[TRANGTHAI] [nvarchar](20) NULL,
	[GIAPHONG] [float] NULL,
	[TIENCOC] [money] NULL,
 CONSTRAINT [pk_phong] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 12/27/2020 9:08:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[ID] [varchar](5) NOT NULL,
	[TENDN] [varchar](40) NULL,
	[MATKHAU] [varchar](40) NULL,
	[PHANQUYEN] [varchar](20) NULL,
	[MANV] [varchar](5) NULL,
	[TRANGTHAI] [bit] NULL CONSTRAINT [df_status]  DEFAULT ('0'),
 CONSTRAINT [pk_tk] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THUCHI]    Script Date: 12/27/2020 9:08:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUCHI](
	[T_THU] [money] NULL,
	[T_CHI] [money] NULL,
	[T_LOINHUAN] [money] NULL,
	[THANG] [int] NOT NULL,
	[NAM] [int] NOT NULL,
 CONSTRAINT [ThuChi_pk] PRIMARY KEY CLUSTERED 
(
	[THANG] ASC,
	[NAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[DANGKI]  WITH CHECK ADD  CONSTRAINT [fk_DK_HD] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([ID])
GO
ALTER TABLE [dbo].[DANGKI] CHECK CONSTRAINT [fk_DK_HD]
GO
ALTER TABLE [dbo].[DANGKI]  WITH CHECK ADD  CONSTRAINT [fk_DK_KH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([ID])
GO
ALTER TABLE [dbo].[DANGKI] CHECK CONSTRAINT [fk_DK_KH]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [fk_HD_KH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([ID])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [fk_HD_KH]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [fk_phong_loaiphong] FOREIGN KEY([LOAI])
REFERENCES [dbo].[LOAIPHONG] ([TENLP])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [fk_phong_loaiphong]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [fk_TK_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [fk_TK_NV]
GO
ALTER TABLE [dbo].[DANGKI]  WITH CHECK ADD  CONSTRAINT [ck_datetime] CHECK  (([NGTRAPHONG]>[NGNHANPHONG]))
GO
ALTER TABLE [dbo].[DANGKI] CHECK CONSTRAINT [ck_datetime]
GO
ALTER TABLE [dbo].[DANGKI]  WITH CHECK ADD  CONSTRAINT [gt_trangthaidon] CHECK  (([TRANGTHAIDON]='dang cho' OR [TRANGTHAIDON]='da nhan' OR [TRANGTHAIDON]='da thanh toan'))
GO
ALTER TABLE [dbo].[DANGKI] CHECK CONSTRAINT [gt_trangthaidon]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [gt_trang_thai_phong] CHECK  (([TRANGTHAI]='trong' OR [TRANGTHAI]='dang cho' OR [TRANGTHAI]='da nhan'))
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [gt_trang_thai_phong]
GO
/****** Object:  StoredProcedure [dbo].[kh_UpdatePhone]    Script Date: 12/27/2020 9:08:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[kh_UpdatePhone]
(@email char(50) , @phone char(40))
as
BEGIN
	update KHACHHANG
	set SODT = @phone
	where EMAIL = @email
END
GO
/****** Object:  StoredProcedure [dbo].[room_Update]    Script Date: 12/27/2020 9:08:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[room_Update]
(@id char(5), @gia float)
as
BEGIN
	update PHONG set GIAPHONG = @gia  where ID = @id
	
END

GO
/****** Object:  StoredProcedure [dbo].[us_Login]    Script Date: 12/27/2020 9:08:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[us_Login]
(@user varchar(40), @pass varchar(40))
as
begin
	select * from TAIKHOAN where TENDN = @user and MATKHAU = @pass
end
GO
/****** Object:  StoredProcedure [dbo].[us_UpdateTaiKhoan]    Script Date: 12/27/2020 9:08:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[us_UpdateTaiKhoan] 
@userName varchar(40), @password varchar(40), @newPassword varchar(40), @Phanquyen char(20)
AS
BEGIN
	DECLARE @isRightPass INT = 0
		
	SELECT @isRightPass = COUNT(*) FROM TAIKHOAN 
		WHERE TENDN = @userName AND MATKHAU = @password

	IF (@isRightPass = 1)
	BEGIN
		IF (@newPassword = NULL OR @newPassword = '')
		BEGIN
			UPDATE TAIKHOAN 
			set PHANQUYEN = @Phanquyen
			WHERE TENDN = @userName
		END		
		ELSE
			UPDATE TAIKHOAN 
			SET MATKHAU = @newPassword 
			WHERE TENDN = @userName
	end
END
GO
USE [master]
GO
