<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="con" providerName="System.Data.sqlclient" 
			 connectionString="Server=10.10.38.26,1433;Database=PROJECT;User Id=sa;Password=27894869;" />	</connectionStrings>
</configuration>